@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.q2__outbox{
  box-sizing: border-box;
  margin: 0 auto;
  width: 940px;
  padding: 20px;
  background-color: #eff3f4;
}
.extent{
  word-break: break-all;
  font-size: 18px;
  line-height: 22px
}
.left{
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.right{
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
