@charset "UTF-8";

.textbox{
  position: relative;
  margin: 0 auto;
  width: 500px;
  border: solid 5px #222;
  padding: 20px;
  border-radius: 30px;
}
.textbox::after{
  content: "";
  position: absolute;
  top: 152px;
  left: 32px;
  border: 18px solid transparent;
  border-top: 18px solid #fff;
}
.textbox::before{
  content: "";
  position: absolute;
  top: 152px;
  left: 25px;
  border: 25px solid transparent;
  border-top: 25px solid #222;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
