@charset "UTF-8";

.outbox{
  margin: 0 auto;
  width: 500px;
  height: 500px;
  font-size: 30px;
  text-align: center;
  position: relative;
  background-color: #ecf1f2;
  line-height: 100px;
  font-weight: 900;
}
.parts{
  width: 100px;
  height: 100px;
  position: absolute;
}
.parts8{
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}
.parts5{
  background-color: #9fd6d2;
  top: 360px;
  left: 200px;
  z-index: 5;
}
.parts1{
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 1;
}
.parts7{
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 7;
}
.parts4{
  background-color: #8b7a5e;
  top: 280px;
  left: 280px;
  z-index: 4;
}
.parts6{
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 6;
}
.parts2{
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 2;
}
.parts3{
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 3;
}
.parts9{
  width: 100px;
  height: 100px;
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
}
.parts8::after{
  content: '';
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
