@charset "UTF-8";

.table{
  width:100%;
  table-layout: fixed; 
  line-height: 26px;
}
.table th{
  text-align: center;
  vertical-align: middle;
  border: solid #dedede 1px;
  padding: 10px;
  background-color: #2244aa;
  color: #ffffff;
  font-size: 18px;
}
.table tbody td{
  text-align: center;
  vertical-align: middle;
  border: solid #dedede 1px;
  padding: 10px;
}
.table tbody:last-child{
  border-top: dashed #000 2px;
}
.table tbody:nth-child(odd){
  background-color: #ecf1f2;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
