@charset "UTF-8";

.outbox{
  text-align: center;
  position: relative;
}
.text-align{
  display: inline-block;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  background-color: #e6f2ff;
}
.margin{
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  width: 90px;
  background-color: #e6f2ff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table_outbox{
  display: table;
}
.table_box{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.table{
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}
.flex_box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex{
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}
.fixed_box{
  position: relative;
}
.fixed{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.variable_box{
  position: relative;
}
.variable{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); 
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
